.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(78, 78, 78, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  height: 400px;
  width: 300px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal__title {
  margin-bottom: 40px;
}
.modal__image {
  height: 90px;
  margin-bottom: 10px;
}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

p {
  text-align: center;
  font-size: 13px;
}

.btn__close {
  height: 40px;
  width: 150px;
  background-color: #ee5253;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
