.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.press__btn {
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #feca57;
  border-radius: 5px;
  color: #222f3e;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}
